.message {
  margin: 0;

  color: #cbeec7;
  border: 1px solid #60fce2;
  border-radius: 4px;
  padding: 20px 24px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  max-width: 400px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02);
}
